<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="#"><li>1</li></a>
      <a href="#"><li>2</li></a>
      <a href="#"><li>3</li></a>
      <a href="#"><li>4</li></a>
      <a href="#"><li>5</li></a>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<textarea></textarea>
<img src="https://cdn.clipart.email/66a4848ddc26e52803f8bd2c12fa1c53_home-safety-clipart_390-400.jpeg">
<iframe width="300" height="300" src="https://www.youtube.com/embed/xHi0TxeFwyc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Hamburger menu taken from <a href="https://codepen.io/erikterwan/pen/EVzeRP">"https://codepen.io/erikterwan/pen/EVzeRP</a></p>
<p>Text to speech<a href="https://stackblitz.com/edit/text-to-speech"> Doesn't seem to work that well though.</a></p>
<p>Surveys. https://angularscript.com/angular-survey-form-builder-ngsurveys/<br>https://github.com/mwasiluk/angular-surveys</p>
<p><a href="https://www.dev6.com/angular/capturing-camera-images-with-angular/">Camera</a></p>
<p><a href="https://stackblitz.com/edit/angular-custom-audio-recorder?file=src%2Fapp%2Faudio-recording%2Faudio-player.component.ts"> Voice recorder (doesn't seem to playback though)</a></p>
<p><a href="https://medium.com/@tharakamd.12/make-an-angular-app-available-in-offline-getting-started-with-service-workers-in-angular-9e169e43c013">Offline mode</a></p>